<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="text-center fw-400 fc-primary">Encuentra activos inmobiliarios con</h1>
            <h1 class="text-center fw-700 fc-primary">grandes descuentos</h1>
            <div fxLayout="row wrap" class="services-wrapper pt-5">
                <div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3 fc-primary bg-card-subasta">
                        <!-- <mat-icon class="mat-icon-xlg" color="primary">location_on</mat-icon> -->
                        <h2 class="card-title fw-600 mt-5">Subasta</h2>
                        <p class="mr-5 ml-5 mt-7">Participa en una subasta de pisos embargados por los bancos a un solo clic </p>
                        <p>¡Elige tu precio!</p>
                        <a class="pt-5 uppercase fw-600 fc-primary mb-5" href="/properties">Descubrir oportunidades
                          <mat-icon class="mat-icon-xlg" color="#242863">arrow_right_alt</mat-icon>
                        </a>
                    </mat-card>
                  </div>
                <div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3 fc-primary bg-card-venta">
                        <!-- <mat-icon class="mat-icon-xlg" color="primary">supervisor_account</mat-icon> -->
                        <h2 class="card-title fw-600 mt-5">Venta directa</h2>
                        <p class="mr-5 ml-5 mt-7">Invierte en inmuebles de bancos a trav&eacute;s de venta directa.</p>
                        <p>¡Descuento medio 50%!</p>
                        <a class="pt-5 uppercase fw-600 fc-primary mb-5" href="/properties">Descubrir oportunidades
                          <mat-icon class="mat-icon-xlg" color="#242863">arrow_right_alt</mat-icon>
                        </a>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="33" fxFlex.gt-sm="50" class="p-2">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3 fc-primary bg-card-cesion">
                        <!-- <mat-icon class="mat-icon-xlg" color="primary">home</mat-icon> -->
                        <h2 class="card-title fw-600 mt-5">Cesión de remate</h2>
                        <p class="mr-5 ml-5 mt-7">Invierte en activos en cesi&oacute;n de remate</p>
                        <p>¡Descuento medio 50%!</p>
                        <a class="pt-5 uppercase fw-600 fc-primary mb-5" href="/properties">Descubrir oportunidades
                          <mat-icon class="mat-icon-xlg" color=#242863>arrow_right_alt</mat-icon>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
