// Azul primario de oportunalia #242863
$blue-primary: mat.define-palette(mat.$blue-palette, 900, 50, 900);    //(100 = #bbdefb) 900=#0d47a1 700=#1976d2  500=#2196f3  300=##64b5f6  50=#e3f2fd
$blue-accent: mat.define-palette(mat.$pink-palette, 500, A200, 800); // original
//$blue-accent: mat.define-palette(mat.$blue-palette, 500, A200, 800);
$blue-warn: mat.define-palette(mat.$red-palette, A200);

$blue-theme: mat.define-light-theme((
    color: (
        primary: $blue-primary,
        accent: $blue-accent,
        warn: $blue-warn,
    )
));
