// .account-sidenav{
//     width: 280px;
//     padding: 2px;
//     .mat-nav-list{
//         box-sizing: border-box;
//         .mat-list-item{
//             height: 36px;
//             font-size: 14px;
//         }
//     }
// }
// .account-content{
//     min-height: 400px;
//     padding: 2px;
//     overflow: hidden;
//     &.p-left{
//         padding-left: 16px;
//     }
//     .header-row{
//         background: #fff;
//         padding: 0 16px;
//         height: 56px;
//     }
//     .account-wrapper{
//         margin-top: 16px;
//         padding: 16px;
//         background: #fff;
//     }
// }

// .account-sidenav{
//     width: 280px;
//     float: left;
//     position: relative;
//     margin-bottom: 16px;
//     border: 0 !important;
//     box-shadow: none !important;
//     background-color: transparent !important;
//     .mat-drawer-inner-container{
//         padding: 2px;
//         height: 100%;
//         box-sizing: border-box;
//         .mat-card{
//             height: 100%;
//             box-sizing: border-box;
//             .mat-nav-list{
//                 box-sizing: border-box;
//                 .mat-list-item{
//                     height: 36px;
//                     font-size: 14px;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 768px) {
  .account-sidenav {
    background-color: rgba(255, 255, 255, 1) !important;
    width: 300px !important;
    padding-right: 16px !important;
  }

  .close {
    margin: 5px; /* Ajusta el margen para tablet y móvil */
  }

  .mat-drawer-backdrop {
    background-color: rgba(0, 0, 0, 1); /* Ajusta el color del backdrop */
  }
}


.horizontal-menu-link {
  background: rgba(0, 0, 0, 0.04);
  //color: red;
}


.horizontal-menu-active {
  background: rgba(206, 219, 255, 1);
  color: #292C63;
}


.btn{
  a:link, a:visited, a:active {
    text-decoration:none;
    color:#fff;
  }
}


.btn-title{
  /* width: 60%;*/
  /* height: 100px; */
  //padding: 0 20px 0 10px;
  text-align: center;
  border-radius: 10px;
  border: solid 3px #242863;
  /* font-size: 1.3rem;
  font-weight: 500; */
  line-height: 56px;
  color: #fff;
  box-shadow: 0 8px 16px #60617029,0 2px 4px #28293d0a;
  background-color: #242863;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.mat-icon {
  font-size: 1.3em; /* Set your desired size */
}
