<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'row wrap' : 'row wrap'">

        <div fxFlex="25" fxFlex.xs="100" class="p-2">

            
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" *ngIf="!isEditable">
              <mat-label>Precio mínimo</mat-label>
              <mat-select [(value)]="selectedValue" (selectionChange)="onSelectionChange($event); setSearchProps($event.value, 'min');">
                <mat-option *ngFor="let option of options" [value]="option.value">{{ option.show }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" *ngIf="isEditable">
              <input matInput type="number" step="500" min="500" [formControl]="selectedValue1" (blur)="onBlur()" placeholder="Mínimo personalizado">
            </mat-form-field>


          </div>

          <div fxFlex="25" fxFlex.xs="100" class="p-2">
            
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" *ngIf="!isEditable1">
              <mat-label>Precio máximo</mat-label>
              <mat-select [(value)]="selectedValue2" (selectionChange)="onSelectionChange1($event); setSearchProps($event.value, 'max')">
                <mat-option *ngFor="let option of options1" [value]="option.value">{{ option.show }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" *ngIf="isEditable1">
              <input matInput type="number" step="500" min="500" [formControl]="selectedValue3" (blur)="onBlur1()" placeholder="Máximo personalizado">
            </mat-form-field>


          </div>

        <div fxFlex="25" fxFlex.xs="100" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Categoría</mat-label>
                <mat-select placeholder="Selecciona la categoría" formControlName="propertyType" (selectionChange)="setSearchProps($event.value, 'type')">
                    <!-- <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
                        {{propertyType.name}}
                    </mat-option> -->
                    <mat-option value="0" >Todas</mat-option>
                    <mat-option value="1" >Subasta</mat-option>
                    <mat-option value="2" >Venta directa</mat-option>
                    <mat-option value="3" >Cesión de remate</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div fxFlex="25" fxFlex.xs="100" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Estado propiedad</mat-label>
                <mat-select placeholder="Selecciona el estado de la propiedad" formControlName="propertyStatus" multiple>
                    <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus">
                        {{propertyStatus.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div fxFlex="25" fxFlex.xs="100" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Tipo de propiedad</mat-label>
                <mat-select placeholder="Selecciona tipo de propiedad" formControlName="propertyCategory" (selectionChange)="setSearchProps($event.value, 'category')">
                    <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="price">

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>{{(variant == 1) ? 'Precio' : 'Price From'}}</mat-label>
                        <input matInput autocomplete="off" placeholder="Desde" formControlName="from" type="text" onlyNumber>
                    </mat-form-field>
                </div>
                <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                    <mat-icon class="text-muted">remove</mat-icon>
                </div>
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>{{(variant == 1) ? '' : 'Price To'}}</mat-label>
                        <input matInput autocomplete="off" placeholder="Hasta" formControlName="to" type="text" onlyNumber>
                    </mat-form-field>
                </div>
            </div>

        </div> -->


        <div *ngIf="showMore" [fxLayout]="(vertical) ? 'column' : 'row wrap'" class="w-100">

            <div fxFlex="25" fxFlex.xs="100" class="p-2">
                <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                    <mat-label>Ubicación</mat-label>
                    <mat-select placeholder="Selecciona ciudad..." formControlName="city" (selectionChange)="setSearchProps($event.value, 'search')">
                        <mat-option *ngFor="let city of cities" [value]="city">
                            {{city.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

          <!--   <div fxFlex="25" fxFlex.xs="100" class="p-2">
                <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                    <mat-label>C&oacute;digo postal</mat-label>
                    <input matInput placeholder="Ej. 28020" autocomplete="off" formControlName="zipCode">
                </mat-form-field>
            </div> -->

            <!-- <div fxFlex="25" fxFlex.xs="100" class="p-2">
                <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                    <mat-label>Vecindario</mat-label>
                    <mat-select placeholder="Selecciona vecindario..." formControlName="neighborhood" multiple (selectionChange)="onSelectNeighborhood()">
                        <mat-option *ngFor="let neighborhood of neighborhoods | filterNeighborhoods: form.get('city').value?.id" [value]="neighborhood">
                            {{neighborhood.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <!-- <div fxFlex="25" fxFlex.xs="100" class="p-2">
                <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                    <mat-label>Calle</mat-label>
                    <mat-select placeholder="Selecciona calle..." formControlName="street" multiple>
                        <mat-option *ngFor="let street of streets | filterStreets : { neighborhoods:form.get('neighborhood').value, cityId:form.get('city').value?.id } " [value]="street">
                            {{street.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
<!--
            <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="bedrooms">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Habitaciones' : 'Bedrooms From'}}</mat-label>
                            <mat-select placeholder="Desde" formControlName="from">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Bedrooms To'}}</mat-label>
                            <mat-select placeholder="Hasta" formControlName="to">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="bathrooms">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Baños' : 'Bathrooms From'}}</mat-label>
                            <mat-select placeholder="Desde" formControlName="from">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Bathrooms To'}}</mat-label>
                            <mat-select placeholder="Hasta" formControlName="to">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div> -->

            <!-- <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="garages">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Garages' : 'Garages From'}}</mat-label>
                            <mat-select placeholder="Desde" formControlName="from">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Garages To'}}</mat-label>
                            <mat-select placeholder="Hasta" formControlName="to">
                                <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="area">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Área' : 'Area From'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="Desde" formControlName="from" type="text" onlyNumber>
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Area To'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="Hasta" formControlName="to" type="text" onlyNumber>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div fxFlex="25" fxFlex.xs="100" class="p-2" formGroupName="yearBuilt">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? 'Año construcción' : 'Fear Built From'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="Desde" formControlName="from" type="text" onlyNumber maxlength="4">
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                            <mat-label>{{(variant == 1) ? '' : 'Year Built To'}}</mat-label>
                            <input matInput autocomplete="off" placeholder="Hasta" formControlName="to" type="text" onlyNumber maxlength="4">
                        </mat-form-field>
                    </div>
                </div>

            </div> -->

            <!-- <div fxFlex="25" fxFlex.xs="100" class="mb-2">
                <p class="uppercase m-2 fw-500">Caracter&iacute;sticas</p>
                <div formArrayName="features" [fxLayout]="(vertical) ? 'column' : 'row wrap'">
                    <div [formGroupName]="i" *ngFor="let control of form['controls'].features['controls']; index as i">
                        <mat-checkbox formControlName="selected">{{features[i].name}}</mat-checkbox>
                    </div>
                </div>
            </div> -->

        </div>


    </div>


    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">
        <!-- <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button> -->
         <button mat-raised-button style="background-color: #292C63; color:#ffffff;" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button>
        <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">
            {{( showMore ? 'BTN.HIDE' : 'BTN.ADVANCED' )| translate}}
            </button>
        <button *ngIf="searchOnBtnClick" mat-raised-button color="primary" class="search-btn uppercase mx-1" (click)="search()">
            <mat-icon class="mat-icon-md">search</mat-icon> Buscar
        </button>
    </div>


</form>
