<footer>

    <div class="px-3">
        <div class="theme-container">

            <!-- <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center center" class="content border-lighter py-5">
                <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center">
                    <h2 class="uppercase">Subscribe our Newsletter</h2>
                    <p class="desc mb-1">Stay up to date with our latest news and properties</p>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="42.4" ngClass.sm="mt-2" ngClass.xs="mt-2">
                    <form [formGroup]="subscribeForm" (ngSubmit)="onSubscribeFormSubmit(subscribeForm.value)" class="custom-form" fxLayout="row" >
                        <mat-form-field appearance="outline" floatLabel="always" class="subscribe-input" fxFlex>
                            <input matInput autocomplete="off" formControlName="email" placeholder="Your email address...">
                        </mat-form-field>
                        <button mat-flat-button type="submit" class="subscribe-btn" color="primary">Subscribe</button>
                    </form>
                </div>
            </div> -->

            <div class="py-5 content border-lighter">

                <div fxLayout="row wrap" fxLayoutAlign="space-between">

                  <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="45">
                        <a class="logo" routerLink="/"><app-logo></app-logo></a>
                        <div class="pb-7"></div>
                        <div class="pb-7"></div>
                        <!-- <p class="mt-5 mb-3">Oportunalia es una plataforma de comercialización de activos inmobiliarios provenientes de procedimientos judiciales y liquidaciones de concursos de acreedores.</p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-2">
                            <mat-icon color="primary">location_on</mat-icon>
                            <span class="mx-2">Calle Bas&iacute;lica 17, Oficinas, 28020, Madrid</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">call</mat-icon>
                            <span class="mx-2">(+34) 911 254 530</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">mail_outline</mat-icon>
                            <span class="mx-2">contact&#64;oportunalia.com</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">schedule</mat-icon>
                            <span class="mx-2">Lun - Vie / 9:00AM - 6:00PM</span>
                        </p> -->
                        <h2 class="pb-3">S&Iacute;GUENOS EN</h2>
                        <app-social-icons [iconSize]="'lg'" fxLayout="row" fxLayoutAlign="start center" class="desc"></app-social-icons>
                  </div>

                  <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="45" ngClass.xs="pt-5">
                        <h2 class="pb-3">CONTACTO</h2>
                        <ul>
                          <li class="pb-3"><a href="mailto:info@oportunalia.com" target="_blank">info&#64;oportunalia.com</a></li>
                          <li class="pb-3"><a href="tel:+34911254530" target="_blank">+34 911 254 530</a></li>
                        </ul>
                   </div>

                  <div fxFlex="100" fxFlex.gt-sm="20" ngClass.lt-md="pt-5">
                      <h2 class="pb-3">INICIO</h2>
                      <h4 class="pb-3">INMUEBLES</h4>
                      <ul>
                        <li class="pb-3"><a href="/properties" >Subasta</a></li>
                        <li class="pb-3"><a href="/properties" >Venta Directa</a></li>
                        <li class="pb-3"><a href="/properties" >Cesi&oacute;n de remate</a></li>
                      </ul>
                      <h4 class="pb-3">CONOCE M&Aacute;S</h4>
                      <ul>
                        <li class="pb-3"><a href="/about" >Sobre nosotros</a></li>
                        <li class="pb-3"><a href="/faq" >¿Tienes dudas?</a></li>
                        <li class="pb-3"><a href="/blog" >Actualidad</a></li>
                      </ul>
                      <h4><a href="/register" >REGISTRO</a></h4>


                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="20" ngClass.lt-md="pt-5">
                      <h2 class="mb-3">LEGAL</h2>
                      <ul>
                        <li class="pb-3"><a href="legal-disclaimer">Aviso legal</a></li>
                        <li class="pb-3"><a href="privacy-policy">Pol&iacute;tica de Privacidad</a></li>
                        <li class="pb-3"><a href="cookie-policy">Pol&iacute;tica de Cookies</a></li>
                        <li class="pb-3"><a href="terms-conditions">T&eacute;rminos y condiciones</a></li>
                      </ul>
                  </div>
                </div>
            </div>

            <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright"> -->
              <div class="text-center">
                <p ngClass.xs="mt-1">Oportunalia todos los derechos reservados. {{anio}}</p>
            </div>

        </div>
    </div>

</footer>
