<div class="p-3">
  <div class="theme-container">

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="my-3 ">
        <div [style.max-width.px]="500" class="p-3">
          <div fxLayout="column" >
            <h1 class="fw-400 fc-primary">Reestablecimiento de contraseña</h1>
            <!-- <a mat-button routerLink="/register" color="primary" class="w-100">¿No tienes una cuenta? ¡Regístrate ahora!</a> -->
            <p class="fc-gray fs-0-5x">Ingrese el nombre de usuario o correo electrónico de su cuenta a continuación y le enviaremos una nueva contraseña.</p>
          </div>
           <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit(resetForm.value)">

              <mat-form-field  appearance="outline" class="w-100 mt-1">
                <mat-label>Email: </mat-label>
                <input matInput placeholder="Email" formControlName="email" autocomplete="off" required>
                <mat-error *ngIf="resetForm.controls.email.errors?.required">Email obligatorío</mat-error>
                    <mat-error *ngIf="resetForm.controls.email.hasError('invalidEmail')">Dirección de email invalida</mat-error>
              </mat-form-field>



              <div fxLayout="row wrap" fxLayoutAlign="space-around" class="w-100 pt-4 pb-6">
                <button (click)="backLogin()" mat-raised-button class="btn-back">Volver al login</button>
                <button mat-raised-button type="submit" class="btn-primary">Restablecer contraseña</button>
              </div>

            </form>
        </div>
    </div>

  </div>
</div>

