<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1">(+34) 911 254 530</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1">Calle Bas&iacute;lica 17, Oficinas, 28020, Madrid</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
  <a href="mailto:info@oportunalia.com" target="_blank"><span class="px-1" style="color:#ffff">info&#64;oportunalia.com</span></a>
</span>
