<div class="p-3">
    <div class="theme-container">
  
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="my-3 ">
          <div [style.max-width.px]="500" class="p-3">
            <div fxLayout="column" >
              <h1 class="fw-400 fc-primary">Reestablecimiento de contraseña</h1>            
              <p class="fc-gray fs-0-5x">Ingrese su nueva contraseña.</p>
            </div>
             <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit(resetForm.value)">
  
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                  <mat-label>Contraseña </mat-label>
                  <input matInput placeholder="Contraseña" formControlName="password" [(ngModel)]="password" autocomplete="off" required>
                  <mat-error *ngIf="resetForm.controls.password.errors?.required">Clave obligatoria</mat-error>
                      <mat-error *ngIf="resetForm.controls.password.hasError('invalidPassword')">Contraseña invalida</mat-error>
                </mat-form-field>
  
  
  
                <div fxLayout="row wrap" fxLayoutAlign="space-around" class="w-100 pt-4 pb-6">
                  <button (click)="backLogin()" mat-raised-button class="btn-back mb-3 w100r">Volver al login</button>
                  <button mat-raised-button type="submit" class="btn-primary mb-3 w100r">Restablecer contraseña</button>
                </div>
  
              </form>
          </div>
      </div>
  
    </div>
  </div>
  
  