.horizontal-menu-active {
  background: rgba(206, 219, 255, 1);
  color: #292C63;
}


.mat-column-id {
  width: 5%;
}

.mat-column-name {
  /*padding-left: 16px;
  font-size: 40px;
  font-weight: bold;*/
  width: 32px;
}

.mat-column-province {
  width: 15%;
}

.mat-column-type {
  width: 10%;
}
.mat-column-status {
  width: 10%;
}

.mat-column-actions {
  width: 15%;
}


