<div class="p-3">
  <div class="theme-container">

    <!-- <div fxLayout="row" fxLayoutAlign="center center" class="my-3"> -->
    <div class="my-3">
      <div class="pt-3 ml-3 mr-3">
        <div fxLayout="column">
          <h1 class="fw-400 fc-primary">Responde algunas preguntas</h1>
        </div>

        <form [formGroup]="interestForm" (ngSubmit)="onInterestFormSubmit(interestForm.value)">
          <div class="">
            <p class="fw-600 fc-primary fs-1x pt-5">¿Qué zonas te interesan?</p>
            <div fxLayout="column">
              <mat-form-field>
                <mat-label>Área</mat-label>
                <mat-select [formControl]="ubicacion" multiple>
                  @for (province of provinces; track province) {
                    <mat-option [value]="province.id">{{province.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <p class="fw-600 fc-primary fs-1x">¿Prefieres adquirir propiedades como inversión o para residencia propia?</p>
            <div fxLayout="column">
              <mat-form-field>
                <mat-label>Inversión</mat-label>
                <mat-select [formControl]="inversiones" >
                    <mat-option *ngFor="let inversion of inversionList; let i = index" [value]="i">{{inversion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <p class="fw-600 fc-primary fs-1x">¿Cuál es tu presupuesto?</p>

            <div fxLayout="row" fxLayoutAlign="center center">
              <label class="fw-400 pr-3">30.000 &euro;</label>
              <mat-slider min="30000" max="1000000" step="500" discrete [displayWith]="formatLabel" (change)="presupuestoChange()">
                <input matSliderThumb [formControl]="presupuesto">
              </mat-slider>
              <label class="fw-400 pl-3">1.000.000 &euro;</label>
            </div>
            <label for=""><i>(O escribe el monto)</i></label>&nbsp;
            <input type="number" [formControl]="presupuesto1" step="500" min="30000" max=1000000 (change)="changePresupuesto()">

            <p class="pt-5 fw-600 fc-primary fs-1x">¿Qué tipo de activos te interesan?</p>
            <div fxLayout="column">
              <mat-form-field>
                <mat-label>Tipo de propiedad</mat-label>
                <mat-select [formControl]="properties" placeholder="Select">
                  <mat-option value="0" >Todos</mat-option>
                  <mat-option value="1" >Subasta</mat-option>
                  <mat-option value="2" >Venta directa</mat-option>
                  <mat-option value="3" >Cesión de remate</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100 pt-4 pb-6">
              <button (click)="registerInterest()" mat-raised-button type="submit" class="btn-primary">Aceptar y continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppingsControl" multiple>
    <mat-select-trigger>
      <mat-chip-list>
        <mat-chip *ngFor="let topping of toppingsControl.value" [removable]="true" (removed)="onToppingRemoved(topping)">
          {{ topping }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
  </mat-select>
</mat-form-field>

{{ toppingsControl.value | json }} -->


