<!-- Asi comprueba la home que componente mostrar
    Debemos tener algo como *ngIf="settings.tipoVenta ==1
  <app-header-image *ngIf="settings.header == 'image'" property.auction_type_id == 1 -->
<!-- <app-header-image *ngIf="property.auction_type_id == 1" -->

  <app-header-image
                  [backgroundImage]="'assets/images/others/property.jpeg'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [title]="''"
                  [desc]="'Cesión remate Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="px-3">
    <div class="theme-container">
        <!-- Card titulo -->
        <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="p-3 mt-4">
          <div>

              <div *ngIf="this.property?.auction_type_id==1" class="type-subasta">Subasta</div>
              <div *ngIf="this.property?.auction_type_id==2" class="type-venta">Venta directa</div>
              <div *ngIf="this.property?.auction_type_id==3" class="type-cesion">Cesión de remate</div>

              <h2 class="uppercase fc-primary fw-700 fs-1-5x pb-3" ngClass.xs="text-center">{{property?.title}}</h2>
              <div fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                  <mat-icon class="fc-primary">location_on</mat-icon>
                  <div class="mr-7 fc-primary">{{property?.city}}, {{property?.province}} <!-- {{property|json}} --> </div>
                  <div class="fc-primary">Referencia: {{property?.auto}}</div>
              </div>
          </div>

          <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-3">
            <!--  -->
              <!-- <p>Descuento: {{(((property?.appraisal_value.sale-property?.start_price.sale)*100)/property?.appraisal_value.sale) | currency : 'EUR' : 'symbol' : '1.0'}}</p> -->
              <div *ngIf="property?.appraisal_value > 1" class="btn">
                <span class="btn-title fw-700 mb-3 fs-1-5x p-2">-{{(((property?.start_price)*100)/property?.appraisal_value) | number:'1.0-0'}}% de Dto.</span>
              </div>
              <!-- <div *ngif="property?.appraisal_value > 1" class="pt-6 pb-6">1</div> -->
              <!-- <p>Descuento: {{(((property?.appraisal_value.sale-property?.start_price.sale)*100)/property?.appraisal_value.sale) | number:'1.0-0'}}%</p> -->
           <!--    <h2 *ngIf="settings.currency == 'USD'" class="primary-color price">
                  <span *ngIf="property?.priceDollar.sale">{{property?.priceDollar.sale | currency : 'USD' : 'symbol' : '1.0'}}</span>
                  <span *ngIf="property?.priceDollar.rent">{{property?.priceDollar.rent | currency : 'USD' : 'symbol' : '1.0'}} /month</span>
              </h2>
              <h2 *ngIf="settings.currency == 'EUR'" class="primary-color price">
                  <span *ngIf="property?.priceEuro.sale">{{property?.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                  <span *ngIf="property?.priceEuro.rent">{{property?.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
              </h2>
              <p>Referencia:</p> -->
          </div>
          <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card>
        <!-- Fin Card titulo -->

        <!-- Sidebar -->
        <mat-sidenav-container class="single-property mt-3">
            <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" position="end" autoFocus="false" (openedChange)="onOpenedChange()">
                <button fxHide="false" fxHide.gt-sm="true" mat-mini-fab color="warn" class="close" (click)="sidenav.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <ng-scrollbar pointerEventsMethod="scrollbar" autoHeightDisabled="false" class="mat-elevation-z1">
                <mat-card class="p-3">
                    <!-- Precio minimo -->
                    <div class="widget">
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="p-3 mt-4 fc-primary">
                        <div>
                          <p>Precio mínimo: </p>
                          <p>Tasación:</p>
                        </div>
                        <div class="text-right">
                          <p class="fw-700 fs-1x"><span *ngIf="property?.start_price">{{property?.start_price | currency : 'EUR' : 'symbol' : '1.0'}}</span></p>
                          <p class="fw-700 fs-1x">{{property?.appraisal_value | currency : 'EUR' : 'symbol' : '1.0'}}</p>
                        </div>
                      </div>

                      <!-- Oferta -->
                      <div class="p-3 mt-3 text-center">
                        <p class="fs-1x fc-secondary">Tiempo restante: </p>
                        <div class="p-0 pt-2 fc-primary">
                            <p class="left-time-{{ property?.guid }} fw-700 fs-2x"></p>
                            <!-- <p class="fw-700 fs-2x">{{ property?.guid }}</p> -->
                        </div>
                      </div>

                      <div class="mt-3 text-center">
                        <p class="fs-0-8x fw-500 fc-primary uppercase">¿Quieres hacer una oferta?</p>
                      </div>
                      <mat-card *ngIf="!this.userService.isLoggedIn" class="p-3 mt-3 text-center bg-sky">
                        <!-- <p class="fs-1x fc-secondary"></p> -->
                        <div class="btn">
                          <p class="btn-title fs-0-8x fw-500 mt-3 mb-3 uppercase"><a href="/register">Regístrate para participar</a></p>
                        </div>
                        <mat-card-content class="p-0 pt-2 fc-primary">
                            <a href="/login"><u>INICIA SESIÓN</u></a>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="p-3 mt-4 fc-primary">
                              <div class="text-left">
                                <a>Depósito</a>
                              </div>
                              <div class="text-right">
                                <a class="showInfo" (click)="showInfo()" matTooltip="Ver instrucciones"><u>Ver instrucciones</u></a>
                              </div>
                            </div>
                        </mat-card-content>
                      </mat-card>

                      <form
                        *ngIf="this.userService.isLoggedIn" class="gap-1 p-3 mt-3 bg-sky flx column"
                        [formGroup]="bidForm"
                        (ngSubmit)="onBidFormSubmit(bidForm.value)">

                        <div fxLayout="col wrap">
                          <mat-label>Tu oferta: </mat-label>
                          <input matInput placeholder="Importe" type="number" min="1" formControlName="import" />
                        </div>

                        <div fxLayout="col wrap">
                          <mat-label>Representado</mat-label>
                          <mat-select formControlName="representation_id" (selectionChange)="onRepresentationChange($event.value)" placeholder="Tipo de representación">
                            <mat-option *ngFor="let representation of representations" [value]="representation.guid">{{ representation.alias }}</mat-option>
                          </mat-select>
                        </div>

                        <div fxLayout="col wrap">
                          <mat-label>Subir justificante de depósito</mat-label>
                          <input (change)="onFileChange($event)" formControlName="file" data-max-size="2048" type="file" accept=".png,.jpeg,.jpg,.pdf" />
                        </div>

                        <button mat-raised-button color="primary" (click)="onBidFormSubmit(bidForm.value)" type="button" class="btn-primary uppercase">Enviar oferta</button>
                      </form>

                      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="fc-primary mt-6">
                        <div fxLayout="row">
                          <div><mat-icon>date_range</mat-icon></div>
                          <span class="ml-1">Inicio: {{ property?.start_date }}h</span>
                        </div>
                        <div fxLayout="row">
                          <div><mat-icon>date_range</mat-icon></div>
                          <span>Fin: {{ property?.end_date }}h</span>
                        </div>
                      </div>

                      <div class="p-3 mt-3 text-center">
                        <p class="fs-8x fw-600 fc-primary uppercase">Conoce el proceso de compra
                          <img src="/assets/images/icons/arrow_right.svg">
                          <!-- <mat-icon color="primary">arrow_right_alt</mat-icon> --></p>
                        <div class="p-0 pt-2 fc-primary">
                            <p class="fs-0-8x">Habla con nosotros</p>
                            <p class="fw-700 fs-2x">911 254 530</p>
                        </div>
                      </div>
                    </div>

                    <!-- Contact form -->
                    <div class="brd p-3">
                      <!-- <h3 class="widget-title bg-primary">Reply to the listing</h3> -->
                      <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
                          <p class="fc-primary fw-400 fs-1x">Pregúntanos sobre este inmueble</p>
                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Nombre</mat-label>
                              <input matInput placeholder="Nombre" autocomplete="off" formControlName="name">
                              <mat-error *ngIf="contactForm.controls.name.errors?.required">Nombre requerido</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>E-mail*</mat-label>
                              <input matInput placeholder="Email" autocomplete="off" formControlName="email">
                              <mat-error *ngIf="contactForm.controls.email.errors?.required">Email requerido</mat-error>
                              <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Dirección de email invalida</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Télefono</mat-label>
                              <input matInput placeholder="Télefono (Opcional)" autocomplete="off" formControlName="phone" type="number" inputmode="numeric">
                              <!-- <mat-error *ngIf="contactForm.controls.phone.errors?.required">Télefono requerido</mat-error> -->
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Mensaje</mat-label>
                              <textarea matInput placeholder="Mensaje (Opcional)" formControlName="message" rows="6"></textarea>
                              <!-- <mat-error *ngIf="contactForm.controls.message.errors?.required">Message is required</mat-error> -->
                          </mat-form-field>
                          <div class="text-center">
                              <button mat-raised-button color="primary" type="submit">Enviar</button>
                          </div>
                      </form>
                  </div>
                </mat-card>
                </ng-scrollbar>
            </mat-sidenav>

            <!------------------------------------------------ Main principal -------------------------------------------------->
            <mat-sidenav-content ngClass.gt-sm="distance">
                <!-- Card carrusel -->
                <mat-card class="p-3 mt-3">
                    <div class="main-carousel mb-3">
                        <div *ngIf="property" class="control-icons">
                            <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()" matTooltip="Añadir a favoritos">
                                <mat-icon class="m-0">favorite_border</mat-icon>
                            </button>
                            <!-- Comparador
                            <button mat-button [disabled]="onCompare()" (click)="addToCompare()" matTooltip="Add To Compare">
                                <mat-icon class="m-0">compare_arrows</mat-icon>
                            </button> -->
                        </div>
                        <div id="main-carousel" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)">
                            <div class="swiper-wrapper">
                                <div *ngFor="let image of property?.images" class="swiper-slide">
                                    <img [attr.data-src]="image.path" class="swiper-lazy">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                            </div>
                            <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                            <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
                        </div>
                    </div>
                    <!-- Miniaturas -->
                    <div class="small-carousel">
                        <div id="small-carousel" class="swiper-container" [swiper]="config2">
                            <div class="swiper-wrapper">
                                <div *ngFor="let image of property?.images; let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                    <img [attr.data-src]="image.path" class="swiper-lazy mw-100" (click)="selectImage(i)">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <!-- Fin card carrousel -->

                <!-- Card Descipción -->
                <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="p-3 mt-4 fc-primary">
                  <div>
                    <h3 class="fw-700 fs-1x">Descripción </h3>
                    <div [innerHTML]="transform(property?.description)"></div>
                  </div>
                  <div class="text-center">
                    <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                    <!-- <p>{{property.area.value}} {{property.area.unit}}</p> -->
                    <p>10 m</p>
                    <mat-icon class="mat-icon-sm" color="primary">check</mat-icon>
                    <p>{{property?.bedrooms}} Dormitorios</p>
                    <mat-icon class="mat-icon-sm" color="accent">check</mat-icon>
                    <p>{{property?.bathrooms}} Baños</p>
                  </div>
                </mat-card>

                <!-- Card Especificaciones técnicas -->
                <mat-card class="p-3 mt-3 fc-primary">
                  <h3 class="fw-700 fs-1x">Especificaciones técnicas</h3>
                  <mat-card-content class="p-0 pt-2" [innerHTML]="transform(property?.technical_specifications)"></mat-card-content>
                </mat-card>

                <!-- Card Documentación -->
                <mat-card class="p-3 mt-3 fc-primary">
                  <h3 class="fw-700 fs-1x">Documentación</h3>
                  <mat-card-content class="p-0 pt-2" [innerHTML]="transform(property?.land_registry)"></mat-card-content>
                </mat-card>

                <!-- Card condiciones particulares -->
                <mat-card class="p-3 mt-3 fc-primary">
                  <h3 class="fw-700 fs-1x">Condiciones particulares</h3>
                  <mat-card-content class="pt-2">
                    <ol>
                      <li>Valoración: {{ property?.appraisal_value | currency : 'EUR' }}</li>
                      <li>Precio mínimo: {{ property?.start_price | currency : 'EUR' }}</li>
                      <!-- <li>Impuestos y gastos: </li>
                      <li>Situación posesoria: </li>
                      <li>Visitas: </li> -->
                      <li>Honorarios entidad especializada: 3% del valor de compra + IVA</li>
                    </ol>
                  </mat-card-content>
                </mat-card>

                <!-- Mapa localizacion -->
                <mat-card class="p-3 mt-3">
                  <h3 class="fw-700 fs-1x">Mapa</h3>
                    <mat-card-content class="p-0 pt-2">
                        <google-map [center]="{ lat: lat, lng: lng }" [options]="mapOptions" height="350px" width="100%">
                            <map-marker [position]="{ lat: lat, lng: lng }"></map-marker>
                        </google-map>
                    </mat-card-content>
                </mat-card>
                <!-- Debug -->
                <div>
                 {{property|json}}
                </div>

                <!-- Expansion panels -->
                <!-- <mat-card class="p-3 mt-3">
                    <mat-card-header class="pt-0" fxLayoutAlign="center center">
                        <mat-card-title class="uppercase">Plans</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="p-0 pt-2">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let plan of property?.plans; let i = index;" [expanded]="i === 0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                        <div class="fw-500">{{plan.name}}</div>
                                        <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                            <span>Area: <span class="fw-500">{{plan.area.value}} {{plan.area.unit}}</span></span>
                                            <span class="mx-3">Rooms: <span class="fw-500">{{plan.rooms}}</span></span>
                                            <span>Baths: <span class="fw-500">{{plan.baths}}</span></span>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <img [src]="plan.image" [alt]="plan.name" class="mw-100">
                                <p>{{plan.desc}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card> -->
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>

<!-- Propiedades relacionadas -->
<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Otras propiedades</h1>
            <app-properties-carousel [properties]="relatedProperties"></app-properties-carousel>
        </div>
    </div>
</div>

<!-- {{property|json}} -->
<!-- <div>
  <p>Id: {{property.id}}</p>
  <p>Appraisal value: {{property.appraisal_value}}</p>
  <p>Start_date: {{property.start_date}}</p>
  <p>End_date: {{property.end_date}}</p>
  <p>Auction_type_id: {{property.auction_type_id}}</p>
  <p>Auction_status_id: {{property.auction_status_id}}</p>
  <p>Appraisal_value: {{property.appraisal_value}}</p>
</div> -->
<!-- <app-get-in-touch></app-get-in-touch> -->
