<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100">
    <p class="horizontal-menu-active pt-4 pb-3 pl-3 uppercase">Representaciones</p>
  </div>
</div>

<div class="representante">
  <h4 class="mb-3"><mat-icon>account_circle</mat-icon> {{firstname}} {{lastname}} (Representación propia)</h4>
  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-3 pl-3">
      <p class="data">Nombre: {{firstname}}</p>
      <p class="data">Dirección: {{address}}</p>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-3 pl-3">
      <p class="data">Apellidos: {{lastname}}</p>
      <p class="data">NIF: {{document_number}}</p>
    </div>
  </div>
</div>

<!-- <div class="pb-5 divider"></div> -->
<div class="w-100 pt-4 pb-6">
  <button (click)="registerRepresentation()" mat-raised-button class="btn-primary">Añadir representación</button>
</div>


<a [routerLink]="['/account/representations/add-representation']"mat-icon-button color="primary" matTooltip="Añadir representación">
  <mat-icon>add_circle</mat-icon><mat-icon>add_box</mat-icon>
</a>
