<!-- <div class="section testimonials"> -->
  <div class="section">
    <div class="px-3">
        <div class="theme-container">
            <!-- <h1 class="section-title">1</h1> -->

            <div class="testimonials-carousel">
                <div class="swiper-container h-100" [swiper]="config">
                    <div class="swiper-wrapper h-100">
                      <!-- Falla la paginación
                      <div fxFlex="100" fxFlex.gt-md="35" class="p-3">
                        <img src="assets/images/others/como-comprar.png" alt="como-comprar" class="mw-100 d-block">
                      </div>
                      <div fxFlex="100" fxFlex.gt-md="65" fxShow="false" fxShow.gt-md> -->

                        <div *ngFor="let testimonial of testimonials; index as i" class="swiper-slide">
                          <div class="content" fxLayout="column" fxLayout.gt-md="row">
                        <div fxFlex="100" fxFlex.gt-md="40">
                          <img [attr.data-src]="testimonial.image" class="swiper-lazy">
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="60" class="pl-5">
                          <h1 class="id-carrusel">{{i+1}}</h1>
                          <h1 class="title-carrusel">{{testimonial.title}}</h1>
                          <p *ngIf="i==2" class="fc-primary fw-600 fs-1x pt-3">¿Qué ocurre cuando tu puja es la más alta en la subasta?</p>
                          <p class="text">{{testimonial.text}}</p>
                          <p *ngIf="i==1" class="fc-primary fw-700 fs-1x">¡Importante!</p>
                          <p *ngIf="i==2" class="fc-primary fw-600 fs-1x">¿Qué ocurre cuando tu oferta es la más alta en la venta directa/cesión de remate?</p>
                          <p class="text pb-3">{{testimonial.text2}}</p>
                          <a *ngIf="i==0" href="/register" class="btn-primary">Regístrate</a>
                          <div class="swiper-lazy-preloader"></div>
                        </div>
                      </div>
                          
                        </div>              
                      <!-- </div> --> <!-- Fin columna -->
                    </div>                                   
                    <div style="margin-left: 42.5%; padding: 0; box-sizing: border-box; width: fit-content; display: flex; justify-content: center; align-items: center;">
                      <button mat-button class="swiper-button-prev" style="z-index: 1000; padding: 0; margin: 0; max-width: 2rem; width: 2rem; background: #3f51b5; color:white; opacity: 1; border-radius: 0; border: 1px solid #3f51b5; display: flex; justify-content: center; align-items: center;">
                        <mat-icon style="text-align: center; font-size: 1.5rem; padding: 0; margin: 0;">arrow_left</mat-icon>
                      </button>                      
                      <button mat-button class="swiper-button-next" style="padding: 0; margin: auto; margin-left: 1rem; max-width: 2rem; width: 2rem; background: white; color: #3f51b5; opacity: 1; border-radius: 0; border: 1px solid #3f51b5; display: flex; justify-content: center; align-items: center;">
                        <mat-icon style="text-align: center; font-size: 1.5rem; padding: 0; margin: 0;">arrow_right</mat-icon>
                      </button>     
                    </div>        
                    <div class="swiper-pagination"></div>
                </div>
            </div>            
        </div>
    </div>
</div>
