.testimonials-carousel{
  //background-color: aqua;
    .swiper-container{
        padding-bottom: 50px;
        .content{
            //max-width: 650px;
            margin: 0 auto;
            /* img{
                border-radius: 50%;
                width: 140px;
                height: 140px;
            } */
            .quote{
                font-size: 50px;
                line-height: 14px;
                &.open{
                    margin-top: 24px;
                }
                &.close{
                    margin-bottom: 24px;
                }
            }
            .text{
                font-weight: 500;
                color: #3B3A5D;
                max-width: 80%;
            }
            .author{
                text-transform: uppercase;
            }
        }
    }
}

.id-carrusel{
  color:rgba(59, 58, 93, 0.5);
  font-weight: 700;
  font-size: 6rem;
  padding-top: 3rem;
}


.title-carrusel{
  color: #3B3A5D;
  font-weight: 700;
  font-size: 3rem;
}

.btn-primary{
  width: 150px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 3px #242863;
  line-height: 56px;
  color: #fff;
  box-shadow: 0 8px 16px #60617029,0 2px 4px #28293d0a;
  background-color: #242863;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  //padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}
