<div style="text-align: center; max-width: 300px; padding: 40px; padding-bottom: 60px; background-color: #BAE1DF; color: #292C63">
	
	<h2 mat-dialog-title>INSTRUCCIONES PARA <br>
	HACER UN DEPÓSITO</h2>

	<br>

	<div style="text-align: left;">
	
	<ol class="ml-3">
		
		<li>Haz la transferencia del importe del depósito en la siguiente cuenta titularidad de OPORTUNALIA ACTIVOS en BBVA: ES80-0182-2487-7202-0188-4132</li>

		<br>
		<li>Sube el justificante de la transferencia.</li>

		<br>
		<li>Cuando esté validado tu depósito te llegará un correo electrónico del Equipo de Oportunalia y a podrás hacer tu puja/oferta.</li>

	</ol>
	</div>

</div>