<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" [bgImageAnimate]="false"
  [contentOffsetToTop]="true" [title]="''" [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>
<div class="p-3">
  <div class="theme-container">

    <div class="my-3">
      <!-- <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
        <h1 class="uppercase">Aviso legal</h1>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card class="p-5" class="fc-primary">
          <div class="p-5">
            <h1>POLÍTICA DE COOKIES</h1>

            <p>Desde https://www.oportunalia.com deseamos informarte que nuestra web utiliza cookies para medir y
              analizar la navegación de nuestros usuarios. </p>
            <p>Las cookies son pequeños ficheros de información que nos permiten comparar y entender cómo navegas a
              través de nuestra página web. Gracias a ellas, recordamos tus preferencias para que cuando nos visites de
              nuevo, obtengas una mejor experiencia online. En ningún caso las cookies almacenan dato personal alguno,
              ni ningún tipo de información que pueda identificarte.</p>
            <p>Si aceptas expresamente nuestra política de cookies en la fase de registro y/o continúas en la Web
              navegando por distintas páginas, utilizando la barra de desplazamiento, o accediendo a diferentes áreas y
              menús, de esa acción se inferirá que aceptas la instalación y uso de las cookies.</p>

            <h2>Este Sitio Web utiliza los siguientes tipos de cookies:</h2>
            <ul class="ml-3">
              <li><b>Cookies de Sesión:</b> Son necesarias para el correcto uso de la página web, como para la sesión de
                usuarios, o para navegar de forma ininterrumpida recordando opciones de idioma o país. Se utilizan para
                identificar al usuario, si fuese necesario acceder a un área de registro. Sin estas cookies, muchos de
                los servicios disponibles no estarían operativos. Dichas cookies caducan cuando se cierra el navegador o
                pasado un mes.</li>
              <li><b>Cookies Técnicas:</b> Éstas tratan información genérica y anónima, donde no se incluyen datos
                personales, sólo recuerdan la página de la que proviene el usuario. Su objetivo principal es la mejora
                del funcionamiento de la web.</li>
              <li><b>Cookies de "plug-in":</b> de redes sociales: Permitir al usuario compartir contenidos con miembros
                de una determinada red social.</li>
              <li><b>Cookies de Terceros:</b> (Google Analytics): Conocer el nivel de recurrencia de nuestros visitantes
                y los contenidos que resultan más interesantes para concentrar nuestros esfuerzos en mejorar las áreas
                más visitadas y hacer que el usuario encuentre más fácilmente lo que busca. Este dato se consigue a
                través de cálculos estadísticos sobre datos anónimos. Para más detalles, consulte en el siguiente enlace
                la política de privacidad [ http://www.google.com/intl/es/policies/privacy/]</li>
            </ul>

            <h2>Cómo deshabilitar las Cookies y los Web Bugs en los principales navegadores:</h2>
            <p>Para permitir, conocer, bloquear o eliminar las cookies instaladas en tu equipo puedes hacerlo mediante
              la configuración de las opciones del navegador instalado en su ordenador.</p>
            <p>Puedes encontrar información sobre cómo hacerlo en el caso que uses como navegador:</p>
            <ul class="ml-3">
              <li>Firefox desde http://support.mozilla.org/es/products/firefox/cookies</li>
              <li>Chrome desde http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</li>
              <li>Explorer desde
                http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</li>
              <li>Safari desde http://support.apple.com/kb/ph5042</li>
            </ul>
          </div>

        </mat-card>
      </div>

    </div>

  </div>
</div>
