<div class="px-3 pt-6 pb-6 bg-primary">
    <div class="theme-container text-center">
      <!-- <div class="theme-container"> -->

          <h1 class="section-title mb-3">Encuentra tu activo, nosotros nos encargamos del resto</h1>
          <p>En Oportunalia encontrarás toda la información sobre cada activo inmobiliario. Para que el proceso sea lo más cómodo posible te ofrecemos un
            servicio de acompañamiento y asesoramiento jurídico por parte de nuestro equipo experto durante todo el proceso de compra del inmueble.
            Además, proporcionamos información en tiempo real de forma transparente.</p>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
              <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="pl-3">
                <mat-icon class="mat-icon-xlg mx-2">watch_later</mat-icon>
                <p class="mb-0">Informaci&oacute;n en tiempo real</p>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="pl-5">
                <mat-icon class="mat-icon-xlg mx-2">attach_money</mat-icon>
                <p class="mb-0">Acompañamiento y asesoramiento jurídico</p>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="pl-5">
                <mat-icon class="mat-icon-xlg mx-2">people_outline</mat-icon>
                <p class="mb-0">Acompañamiento y asesoramiento jurídico</p>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="pl-5">
                <mat-icon class="mat-icon-xlg mx-2">check_circle_outline</mat-icon>
                <p class="mb-0">Sello de profesionalidad y gestión ética de ANGECO</p>
              </div>

            </div>


      <!-- </div> -->

    </div>
</div>
