<app-header-image [backgroundImage]="'assets/images/others/about.png'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [title]="''"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<app-mission></app-mission>

<div class="theme-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between" style="padding: 4rem; box-sizing: border-box;">
    <div fxFlex="100" fxFlex.gt-xs="30">
          <div fxLayout="column">
            <span class="dot div-center mt-4">01</span>
            <p class="mt-4 fw-700 fc-primary fs-1-5x">Misi&oacute;n</p>
            <p class="fc-primary fs-1x">Facilitar y acercar las viviendas de bancos y servicers tanto a grandes inversores como a particulares.</p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="30">
        <div fxLayout="column">
          <span class="dot div-center mt-4">02</span>
          <p class="mt-4 fw-700 fc-primary fs-1-5x">Visi&oacute;n</p>
          <p class="fc-primary fs-1x">Democratizar la inversión en inmuebles procedentes de ejecuciones hipotecarias.</p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="30">
      <div fxLayout="column">
        <span class="dot div-center mt-4">03</span>
        <p class="mt-4 fw-700 fc-primary fs-1-5x">Valores</p>
        <p class="fc-primary fs-1x">Transparencia, Seguridad Jurídica y Calidad.</p>
      </div>
    </div>
  </div>
</div>



