<div class="section default">
    <div class="px-3">
        <div class="theme-container">


             <!--<mat-card class="p-0 o-hidden" fxLayout="row wrap">-->
                <div fxFlex="100" fxFlex.gt-md="60" class="p-3">
                  <h3 class="subtitle mb-4 fc-primary"><span class="fc-secondary fw-700">|</span> ¿QUI&Eacute;NES SOMOS? <span class="fc-secondary fw-700">|</span></h3>
                  <h1 class="mb-4 fw-700 fc-primary fs-2x lh-100">Oportunalia, la web de las oportunidades de activos</h1>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100" class="p-2 fc-primary fs-1x mb-6" >
                            <!-- <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <h2 class="capitalize fw-600 my-2">save money</h2> -->
                            <p class="mb-4">Oportunalia nace en 2022 con el objetivo de crear una plataforma de venta de activos de procedimientos judiciales y concursos de acreedores más novedosa e intuitiva del país, que ofreciera seguridad jurídica, transparencia y acompañamiento en todo el proceso</p>
                            <p class="mb-4">Oportunalia destaca en el sector por:</p>
                            <ul class="mb-4">
                              <li>Su red nacional de procuradores y abogados</li>
                              <li>Su transparencia y flexibilidad</li>
                              <li>Su equipo altamente cualificado</li>
                              <li>Su seguridad jurídica</li>
                            </ul>
                        </div>


                        <!--<div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <h2 class="capitalize fw-600 my-2">collaboration</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">search</mat-icon>
                            <h2 class="capitalize fw-600 my-2">easy to find</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div> -->
                   </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="40" fxShow="false" fxShow.gt-md>
                    <!-- <img src="assets/images/others/mission.jpg" alt="mission" class="mw-100 d-block"> -->
                </div>
            <!--</mat-card> -->

        </div>
    </div>
</div>
