<app-header-image [backgroundImage]="'assets/images/others/blog.png'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="px-3">

  <div class="theme-container">

    <!-- {{blog}} -->    
    <!-- <app-property-item [post]="post" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-property-item>   -->        
    <div class="item" *ngFor="let post of blog">
      <h3>{{post.title}}</h3>        
      <p>{{ post.publish_date }}</p>
      <hr>
      <a class="fc-primary" [routerLink]="'post/' + post.guid">Ver más</a>
    </div>      

  </div>
</div>
