<app-header-image [backgroundImage]="'assets/images/others/blog.png'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="px-3">

  <div class="theme-container">

    <!-- {{blog}} -->
<div *ngFor="let post of blog" [fxFlex]="(viewType=='grid') ? viewCol : 100"  class="item">
  <!-- <app-property-item [post]="post" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-property-item> -->
  <p> {{post.id}}</p>
  <p>{{post.title}}</p>
</div>

  </div>
</div>

