<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100">
    <p class="horizontal-menu-active pt-4 pb-3 pl-3 uppercase">Cambio de contraseña</p>
  </div>
</div>



<form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">
  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-3">

                  <!-- Password -->
                  <mat-form-field  appearance="outline" class="w-100 mt-1">
                    <!-- <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon> -->
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Password" formControlName="password" type="password" minlength="6" required [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="passwordForm.controls.password.errors?.required">La contraseña es obligatorio</mat-error>
                    <mat-error *ngIf="passwordForm.controls.password.hasError('minlength')">Contraseña corta, mínimo 6 carácteres</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>



    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-3">
                        <!-- repeat password -->
                        <mat-form-field  appearance="outline" class="w-100 mt-1">
                          <!-- <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon> -->
                          <mat-label>Confirmar contraseña</mat-label>
                          <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required [type]="hide ? 'password' : 'text'">
                          <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.required">El campo confirmar contraseña es requerido</mat-error>
                          <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('mismatchedPasswords')">La contraseña no coincide</mat-error>
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field>
    </div>

  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around" class="w-100 pt-4 pb-6">
    <button (click)="backProfile()" mat-raised-button class="btn-back">Volver a perfil</button>
    <button mat-raised-button type="submit" class="btn-primary">Guardar contraseña</button>
  </div>

</form>



