.horizontal-menu-active {
  background: rgba(206, 219, 255, 1);
  color: #292C63;
}


.btn-primary{
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 3px #242863;
  line-height: 56px;
  color: #fff;
  box-shadow: 0 8px 16px #60617029,0 2px 4px #28293d0a;
  background-color: #242863;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.btn-change-password{
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 3px #32B4AE;
  line-height: 56px;
  color: #fff;
  box-shadow: 0 8px 16px #60617029,0 2px 4px #28293d0a;
  background-color: #32B4AE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}


.image-preview {
  height: 160px;
  width: 160px;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 8px;

  &:hover {
    opacity: .9;
  }

  mat-icon {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: calc(100% - 28px);
  padding: 0.95rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  font-family: Poppins;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none !important;
  border-color: #9b9b9b;
}

.form-control:hover {
  border-color: rgba(0,0,0, 0.87);
}
.form-control:focus {
  border-color: #0d47a1;
}
