.bg-blue{
  background: #242863;
  color:#ffff;
}

.btn-secondary{
  background: #32b4ae;
  color:#ffff;
  padding: 2em;
}

/* .child-1
{
    background-color: orange;
}

.child-2{
    background-color: yellow;
}

.child-3{
    background-color: green;
} */

/* .container{
     margin: 15px;
     height:200px;
     width:100%;
     border:2px solid red;
} */