<app-header-image *ngIf="settings.header == 'image'"
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="false"
                [contentOffsetToTop]="true"
                [title]=""
                [desc]="'Oportunidades inmobiliarias con grandes descuentos'"
                [isHomePage]="false"
                [fullscreen]="false">
</app-header-image>

<app-header-carousel *ngIf="settings.header == 'carousel'"
                    [slides]="slides"
                    [contentOffsetToTop]="true"
                    [fullscreen]="false">
</app-header-carousel>

<app-header-map *ngIf="settings.header == 'map'"
                [locations]="locations"
                [contentOffsetToTop]="true"
                [fullscreen]="false">
</app-header-map>

<app-header-video *ngIf="settings.header == 'video'"
                [backgroundVideo]="'http://themeseason.com/data/videos/video-1.mp4'"
                [contentOffsetToTop]="true"
                [title]="'Oportunalia'"
                [desc]="'Tu web de oportunanidades inmobiliarias'"
                [isHomePage]="true"
                [fullscreen]="true">
</app-header-video>

<!-- Buscador principal -->
<div class="px-3 pt-6 pb-6 bg-blue" >
  <div class="theme-container text-center" >
    <div class="flex-container" fxLayout="row">
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Ubicación</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Otros criterios</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex>
        <button mat-flat-button class="btn-secondary">Buscar</button>
      </div>
    </div>
  </div>
</div>
<!--  Buscador -->
<!-- <div class="px-3">

    <div class="theme-container">

        <mat-card class="main-content-header">

            <app-properties-search
                [variant]="settings.searchPanelVariant"
                [searchOnBtnClick]="settings.searchOnBtnClick"
                [removedSearchField]="removedSearchField"
                (onSearchChange)="searchChanged($event)"
                (onSearchClick)="searchClicked()">
            </app-properties-search>

        </mat-card>

    </div>

    <div class="theme-container">

        <div fxLayout="row wrap" class="properties-wrapper">

            <div fxFlex="100" fxLayoutAlign="start start" class="p-2">
                <mat-chip-listbox [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                    <mat-chip-option highlighted selectable="false" disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{ pagination?.total }} Propiedades
                    </mat-chip-option>
                </mat-chip-listbox>
                <app-properties-search-results-filters
                    [searchFields]="searchFields"
                    (onRemoveSearchField)="removeSearchField($event)">
                </app-properties-search-results-filters>
            </div>
            <div fxFlex="100" class="p-2">
                <app-properties-toolbar [isHomePage]="true"
                                        (onChangeCount)="changeCount($event)"
                                        (onChangeSorting)="changeSorting($event)"
                                        (onChangeViewType)="changeViewType($event)"></app-properties-toolbar>
            </div>
            <div *ngFor="let property of properties" [fxFlex]="(viewType=='grid') ? viewCol : 100" class="item">
                <app-property-item [property]="property" [viewType]="viewType" [viewColChanged]="viewCol"></app-property-item>
            </div>
            <div *ngIf="properties?.length" fxFlex="100" fxLayoutAlign="center center" class="p-2 mt-2">
                <app-load-more [step]="2"></app-load-more>
            </div>

            <div *ngIf="properties?.length == 0" fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200">
                <mat-spinner *ngIf="!message"></mat-spinner>
                <mat-chip-listbox *ngIf="message">
                    <mat-chip-option highlighted selectable="false" disableRipple="true" color="warn" class="uppercase ws-nowrap">
                        {{message}}
                    </mat-chip-option>
                </mat-chip-listbox>
            </div>

        </div>
    </div>
</div> -->
<!--  fin buscador -->

<div class="section mt-3">
  <div class="px-3">
      <div class="theme-container">
        <div class="px-3 pt-6 pb-6">
          <div class="theme-container text-center">
            <!-- <h1 class="section-title mb-3 fc-primary">¿Que es <b>Oportunalia</b>?</h1> -->
            <h1 class="text-center mb-4 fw-400 fc-primary fs-2x">¿Que es <b>Oportunalia</b>?</h1>
            <p class="pl-6 pr-6 fc-primary fs-1x"><b>Oportunalia</b> es una plataforma de <b>oportunidades inmobiliarias</b> que ofrece pisos procedentes de bancos y
              otros procedimientos judiciales de forma &aacute;gil y completamente segura. Adem&aacute;s, proporciona acompañamiento
              legal a lo largo de todo el proceso. Descubre viviendas, fincas, garajes y m&aacute;s a precios por debajo del mercado.</p>
          </div>
        </div>
          <app-header-video
                          [backgroundVideo]="'https://oportunalia.com/assets/home/video_home_oportunalia.mp4'"
                          [contentOffsetToTop]="false"
                          [isHomePage]="false"
                          [fullscreen]="false">
          </app-header-video>
      </div>
  </div>
</div>

<!-- <app-mission></app-mission> -->

<app-our-services></app-our-services>


<!-- <app-testimonials></app-testimonials> -->

<!-- <app-hot-offer-today [propertyId]="4"></app-hot-offer-today> -->

<app-featured-properties [properties]="featuredProperties"></app-featured-properties>


<div class="section mt-3">
  <div class="px-3">
      <div class="theme-container">
          <h1 class="text-center fw-400 fc-primary">Oportunidades inmobiliarias con</h1>
          <h1 class="text-center fw-700 fc-primary">grandes descuentos</h1>
      </div>
  </div>
</div>

<!-- Buscador mapa -->
<div class="px-3 pt-6 pb-6 bg-blue" >
  <div class="theme-container text-center" >
    <div class="flex-container" fxLayout="row">
      <div class="child-1" fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Ubicación</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="child-2" fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="child-3" fxFlex>
        <button mat-flat-button class="btn-secondary">Buscar</button>
      </div>
    </div>
  </div>
</div>

<google-map [center]="center" [zoom]="zoom" [options]="mapOptions" height="800px" width="100%">
  <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>
</google-map>

<!-- <app-our-agents></app-our-agents> -->

<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>
