<app-header-image [backgroundImage]="'assets/images/others/about.png'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [title]="''"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="section default">
    <div class="px-3">
        <div class="theme-container">


             <!--<mat-card class="p-0 o-hidden" fxLayout="row wrap">-->
                <div fxFlex="100" fxFlex.gt-md="60" class="p-3">
                  <h3 class="subtitle mb-4 fc-primary"><span class="fc-secondary fw-700">|</span> Nuestros servicios <span class="fc-secondary fw-700">|</span></h3>
                  <h1 class="mb-4 fw-700 fc-primary fs-2x lh-100">Servicio Integral</h1>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100" class="p-2 fc-primary fs-1x mb-2" >
                            <p class="mb-4">

                                Los diferentes equipos que conforman <b>Oportunalia</b> nos permiten ofrecer un servicio integral de gestión del activo en circunstancias especiales, durante toda su vida.

                                <br> <br>

								La gestión centralizada del equipo judicial y amistoso nos permite generar sinergias muy beneficiosas. Conociendo la situación del activo a tiempo real.

								<br> <br>

								La especialización de nuestro equipo de facilites unido a la red de colaboradores a nivel nacional nos permite actuar de manera eficaz y eficiente.

                            </p>
                            
                        </div>
                   </div>
                </div>
            <!--</mat-card> -->

        </div>
    </div>
</div>


<div class="theme-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between" style="padding: 4rem; box-sizing: border-box; text-align: center;">
    <div fxFlex="100" fxFlex.gt-xs="25" class="mb-32">
          <div fxLayout="column" class="bg-w">
            <!-- <span class="dot div-center mt-4">01</span> -->
            <p class="mt-4 fw-700 fc-primary fs-1-5x">Pack Jurídico</p>
            <p class="fc-primary fs-1x">
            	Abogado <br>
				<span style="font-size: 32px; font-weight: 700;">+</span> <br>
				Procurador <br>
				<span style="font-size: 32px; font-weight: 700;">+</span> <br>
				Gestión amistosa

            </p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="25" class="mb-32">
        <div fxLayout="column" class="bg-w">
          <!-- <span class="dot div-center mt-4">02</span> -->
          <p class="mt-4 fw-700 fc-primary fs-1-5x">Pack Básico</p>
          <p class="fc-primary fs-1x">
          		Pack jurídico <br>
				<span style="font-size: 32px; font-weight: 700;">+</span> <br>
				Vaciado <br>
				<span style="font-size: 32px; font-weight: 700;">+</span> <br>
				Cerrajería
			</p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="25" class="mb-32">
      <div fxLayout="column" class="bg-w">
        <!-- <span class="dot div-center mt-4">03</span> -->
        <p class="mt-4 fw-700 fc-primary fs-1-5x">Pack Plus</p>
        <p class="fc-primary fs-1x">
        	Pack básico <br>
			<span style="font-size: 32px; font-weight: 700;">+</span> <br>
			Limpieza <br>
			<span style="font-size: 32px; font-weight: 700;">+</span> <br>
			Alarmado
        </p>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="25" class="mb-32">
      <div fxLayout="column" class="bg-w">
        <!-- <span class="dot div-center mt-4">04</span> -->
        <p class="mt-4 fw-700 fc-primary fs-1-5x">Pack Premium</p>
        <p class="fc-primary fs-1x">
        	Pack Plus <br>
			<span style="font-size: 32px; font-weight: 700;">+</span> <br>
			Reforma
        </p>
      </div>
    </div>
  </div>
</div>



