<div *ngIf="message == 'deposit'" class="bg-deposit">
  <h1 mat-dialog-title>
    <div class="text-center fw-900 fc-primary">
        Instrucciones para hacer un depósito
    </div>
  </h1>

  <div mat-dialog-content class="m-3">
    <ol class="fc-primary">
      <li class="pb-4">Haz la transferencia del importe del depósito en la siguiente cuenta titularidad de <b>OPORTUNALIA ACTIVOS SL. (B88524988)</b> en <br> BANCO SANTANDER S.A.: <br>IBAN: <b>ES45-0049-1811-3028-1050-4470</b> <br> SWIFT: <b>BSCHES MM</b> </li>
      <li class="pb-4">Sube el justificante de la transferencia.</li>
      <li>Cuando esté validado tu depósito te llegará un correo electrónico del equipo de Oportunalia y a podrás hacer tu puja/oferta.</li>
    </ol>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="close()" class="m-auto">{{ 'BTN.OK' | translate }}</button>
  </div>
</div>


<div *ngIf="message == 'register'" class="bg-register text-center ">
  <img src ="assets/images/icons/envelope.png" alt="Register" class="mt-5">
  <div mat-dialog-content class="m-3 ml-7 mr-7">
    <p class="fc-primary"><b>¡Estas un paso mas cerca!</b> Antes de empezar necesitamos empezar necesitamos verificar la identidad</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="goQuestions()" class="m-auto uppercase">Verificar cuenta</button>
  </div>

  <div class="mt-4 mb-4">
    <p class="fc-primary">¡Pulsa en el botón verificar y sigamos!</p>
  </div>
</div>


<div *ngIf="message == 'questions'" class="bg-register text-center ">
  <img src ="assets/images/icons/like.png" alt="like" class="mt-5">
  <div mat-dialog-content class="m-3 ml-7 mr-7">
    <p class="fc-primary">Encuentra las oportunidades inmobiliarias que siempre has estado buscando</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="goInterest()" class="m-auto uppercase">Responde las siguientes preguntas</button>
  </div>

  <div class="mt-4 mb-4">
    <p class="fc-primary">¡Pulsa en el botón de arriba y sigamos!</p>
  </div>
</div>


<div *ngIf="message == 'error_register_user'" class="bg-register text-center ">
  <img src ="assets/images/icons/alert.png" alt="like" class="mt-5" style="width: 100px;">
  <div mat-dialog-content class="m-3 ml-7 mr-7">
    <p class="fc-primary">Error en el registro de usuario</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="goRegister()" class="m-auto uppercase">Volver a intentarlo</button>
  </div>

  <!-- <div class="mt-4 mb-4">
    <p class="fc-primary">¡Pulsa en el botón verificar y sigamos!</p>
  </div> -->
</div>


<!-- Reset password verificar email -->

<div *ngIf="message == 'reset_pass'" class="bg-register text-center">
  <h1 mat-dialog-title>
    <div class="text-center fw-900 fc-primary">
      Reestablecimiento de contraseña
    </div>
  </h1>

  <div mat-dialog-content class="m-3">
    <p class="pb-4">Te hemos enviado un email para que puedas restablecer la contraseña, por favor revisa tu email para restablecerla.</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="close()" class="m-auto">{{ 'BTN.OK' | translate }}</button>
  </div>
</div>


<!-- Error al solicitar el resetear el password -->

<div *ngIf="message == 'error_reset_pass'" class="bg-register text-center">
  <h1 mat-dialog-title>
    <div class="text-center fw-900 fc-primary">
        Error al restablecer contraseña
    </div>
  </h1>

  <div mat-dialog-content class="m-3">
    <p class="pb-4">Hay un problema para restablecer tu contraseña, verifica tu dirección de email e inténtalo nuevamente más tarde.</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" style="background-color: #242863 !important;" (click)="close()" class="m-auto">{{ 'BTN.OK' | translate }}</button>
  </div>
</div>


<!-- Reset password verificar email -->

<div *ngIf="message == 'enviado'" class="bg-register text-center">
  <h1 mat-dialog-title>
    <div class="text-center fw-900 fc-primary">
      Mensaje enviado
    </div>
  </h1>

  <div mat-dialog-content class="m-3">
    <p class="pb-4">Gracias por contactarnos, mensaje enviado</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()" class="m-auto">{{ 'BTN.OK' | translate }}</button>
  </div>
</div>
