<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" [bgImageAnimate]="false"
  [contentOffsetToTop]="true" [title]="''" [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>
<div class="p-3">
  <div class="theme-container">

    <div class="my-3">
      <!-- <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
        <h1 class="uppercase">Aviso legal</h1>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card class="p-5" class="fc-primary">
          <div class="p-5">
            <h1>Política de medioambiente</h1>

            <br>

            <h2>OPORTUNALIA</h2>

            <br>

            <p>OPORTUNALIA nace con el objetivo de crear una plataforma de venta de activos de
				procedimientos judiciales y concursos de acreedores más novedosa e intuitiva del
				país, que ofreciera seguridad jurídica, transparencia y acompañamiento en todo el
				proceso
			</p>

			<br>

			<h2>NUESTRO COMPROMISOS</h2>

			<br>

			<p>
				La dirección de la empresa se compromete a facilitar los recursos necesarios para:
			</p>

			<ul class="ml-3">
				<li>Implantar y mantener el sistema de gestión ambiental ISO 14001.</li>
				<li>Cumplir con los requisitos legales y otros requisitos;</li>
				<li>Proteger el medioambiente, incluida la prevención de la contaminación.</li>
				<li>Mejorar de forma continua del sistema de gestión ambiental.</li>

			</ul>

			<br>

			<h2>PRINCIPIOS GENERALES DE ACTUACIÓN</h2>

			<br>

			<p>
				Entendemos que la gestión ambiental debe estar integrada en nuestra compañía. Para ello, nos regimos principalmente por las siguientes actuaciones:
			</p>

			<ul class="ml-3">
				<li>Identificamos y evaluamos los aspectos e impactos medioambientales significativos.</li>
				<li>Estableceremos objetivos anuales que nos permiten mejorar nuestro sistema de gestión.</li>
				<li>Revisamos nuestro sistema de gestión ambiental a través de las auditorias y del comité de medio ambiente.</li>
				<li>Hacemos participes de nuestra política ambiental a todos los grupos de interés a través de nuestra web.</li>
			</ul>

			<br>

			<p>Dirección</p>
			<p>Madrid, Diciembre 2023</p>
          </div>

        </mat-card>
      </div>

    </div>

  </div>
</div>
