<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100">
    <p class="horizontal-menu-active pt-4 pb-3 pl-3 uppercase">Mis Intereses</p>
  </div>
</div>

<div class="pr-5 pl-5 fc-primary fw-400">
  <ul>
    <li>Selecciona en qué tipo de activos estás interesado para mantenerte informado por correo electrónico y ser el primero en realizar una oferta: </li>
  </ul>
</div>


<form [formGroup]="interestForm" (ngSubmit)="onInterestFormSubmit(interestForm.value)">
  <div fxLayout="row wrap" fxLayoutAlign="space-around" class="pb-5">
    <div fxFlex="100" fxFlex.gt-xs="33.3" class="pr-3 pl-3">
      <!-- <section class="example-section">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
      </section> -->
      <!-- <div class="interes" [hidden]="hideList.hideViviendas">
        <input type="checkbox" class="form-check-input" [checked]="checkList.checkViviendas" formControlName="pref2"><span>Viviendas</span>
      </div> -->
      <div class="interes">
        <mat-checkbox formControlName="viviendas" color="primary">Viviendas</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="trasteros" color="primary">Trasteros</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="aplicaciones_informaticas" color="primary">Aplicaciones Informáticas</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="solares" color="primary">Solares</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="unidades_productivas" color="primary">Unidades Productivas</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="otros" color="primary">Otros</mat-checkbox>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="33.3" class="pr-3 pl-3">
      <div class="interes">
        <mat-checkbox formControlName="naves_industriales" color="primary">Naves Industriales</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="locales" color="primary">Locales</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="derechos_cobro_creditos" color="primary">Derechos de Cobro y Créditos</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="vehiculos" color="primary">Vehículos</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="oficinas" color="primary">Oficinas</mat-checkbox>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="33.3" class="pr-3 pl-3">
      <div class="interes">
        <mat-checkbox formControlName="garajes" color="primary">Garajes</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="lotes_mobiliario" color="primary">Lotes de Mobiliario</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="maquinaria" color="primary">Maquinaria</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="obras_arte_antiguedades" color="primary">Obras de Arte y Antigüedades</mat-checkbox>
      </div>
      <div class="interes">
        <mat-checkbox formControlName="rusticas" color="primary">Rústicas</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="pb-5 divider"></div>
  <p class="pb-5">Intereses</p>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="40" class="pl-3 pb-4">
      <div class="fc-primary fw-600">¿Qué zonas te interesan?</div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-3">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Ubicación</mat-label>
          <mat-select formControlName="ubicacion" placeholder="Select" multiple>
            <mat-option value="0">Todas</mat-option>
            <mat-option *ngFor="let province of provinceList" value="{{province.id}}">{{province.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="40" class="pl-3 pb-4">
      <div class="fc-primary fw-600">¿Prefieres propiedades para?</div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-3">
      <div>
        <mat-form-field>
          <mat-label>Inversión</mat-label>
          <mat-select formControlName="inversion" placeholder="Select" >
            <mat-option value="0" >Inversión</mat-option>
            <mat-option value="1" >Residencia propia</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="40" class="pl-3 pb-5">
      <div class="fc-primary fw-600">¿Cuál es tu presupuesto?</div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-3">

      <div fxLayout="row">
        <label class="fw-400 pr-3">500 &euro;</label>
        <mat-slider min="500" max="1000000" step="500" discrete [displayWith]="formatLabel">
          <input formControlName="presupuesto" matSliderThumb>
        </mat-slider>
        <label class="fw-400 pl-3">1.000.000 &euro;</label>
      </div>


    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxFlex="100" fxFlex.gt-xs="40" class="pl-3 pb-4">
      <div class="fc-primary fw-600">¿Qué tipo de activos te interesan?</div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-3">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de propiedad</mat-label>
          <mat-select formControlName="activos" placeholder="Select">
            <mat-option value="0" >Todos</mat-option>
            <mat-option value="1" >Subasta</mat-option>
            <mat-option value="2" >Venta directa</mat-option>
            <mat-option value="3" >Cesión de remate</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="w-100 pt-4 pb-6 pt-4">
    <button (click)="updateInterest()" mat-raised-button type="submit" class="btn-primary">Guardar preferencias</button>
  </div>

</form>
