<app-header-image [backgroundImage]="'assets/images/others/about.png'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [title]="''"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="section default">
    <div class="px-3">
        <div class="theme-container">


             <!--<mat-card class="p-0 o-hidden" fxLayout="row wrap">-->
                <div fxFlex="100" fxFlex.gt-md="60" class="p-3">
                  <h3 class="subtitle mb-4 fc-primary"><span class="fc-secondary fw-700">|</span> Nuestros servicios <span class="fc-secondary fw-700">|</span></h3>
                  <h1 class="mb-4 fw-700 fc-primary fs-2x lh-100">Saneamiento jurídico – posesorio</h1>
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100" class="p-2 fc-primary fs-1x mb-6" >
                            <p class="mb-4">

                                En Oportunalia hemos detectado inseguridad, falta de conocimiento y asesoramiento en los clientes finales de las cesiones de remate y compras de activos okupados.

                                <br>
                                <br>

                                Por este motivo, hemos desarrollado un servicio de acompañamiento jurídico integral ofreciendo asesoramiento y acompañamiento en todo el proceso.

                                <br>
                                <br>

                                El proceso de recuperación judicial se complementa con una gestión extrajudicial eficaz. 

                            </p>

                            <br>

                            <h4 class="mb-4 fw-700 fc-primary fs-1x lh-100">Seguimiento jurídico constante:</h4>

                            <ul style="padding-left: 20px;">
                                <li>Personación inmediata, aseguramos el desarrollo del procedimiento judicial ágil y sin incidencias.</li>
                                <li>Impulsamos la obtención del decreto de adjudicación.</li>
                                <li>Solicitamos señalamiento de lanzamiento judicial.</li>
                                <li>Revisamos el testimonio del decreto de adjudicación.</li>
                                <li>Asistimos al lanzamiento judicial.</li>
                                <li>Inscripción Registral.</li>
                            </ul>

                            <br>     

                            <h4 class="mb-4 fw-700 fc-primary fs-1x lh-100">Entrega pacífica:</h4>

                            <ul style="padding-left: 20px;">
                                <li>Visitamos el activo y confirmamos su situación posesoria.</li>
                                <li>Negociamos con ocupantes el desalojo y entrega del activo.</li>
                                <li>Coordinamos fecha y hora de entrega.</li>
                                <li>Preparamos documentación requerida para formalizar la entrega.</li>
                                <li>Coordinamos la entrega con el resto de servicios.</li>

                            </ul>

                            
                        </div>


                        <!--<div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <h2 class="capitalize fw-600 my-2">collaboration</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">search</mat-icon>
                            <h2 class="capitalize fw-600 my-2">easy to find</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div> -->
                   </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="40" fxShow="false" fxShow.gt-md>
                    <!-- <img src="assets/images/others/mission.jpg" alt="mission" class="mw-100 d-block"> -->
                </div>
            <!--</mat-card> -->

        </div>
    </div>
</div>
<!-- 

<div class="theme-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between" style="padding: 4rem; box-sizing: border-box;">
    <div fxFlex="100" fxFlex.gt-xs="30">
          <div fxLayout="column">
            <span class="dot div-center mt-4">01</span>
            <p class="mt-4 fw-700 fc-primary fs-1-5x">Misi&oacute;n</p>
            <p class="fc-primary fs-1x">Facilitar y acercar las viviendas de bancos y servicers tanto a grandes inversores como a particulares.</p>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="30">
        <div fxLayout="column">
          <span class="dot div-center mt-4">02</span>
          <p class="mt-4 fw-700 fc-primary fs-1-5x">Visi&oacute;n</p>
          <p class="fc-primary fs-1x">Democratizar la inversión en inmuebles procedentes de ejecuciones hipotecarias.</p>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="30">
      <div fxLayout="column">
        <span class="dot div-center mt-4">03</span>
        <p class="mt-4 fw-700 fc-primary fs-1-5x">Valores</p>
        <p class="fc-primary fs-1x">Transparencia, Seguridad Jurídica y Calidad.</p>
      </div>
    </div>
  </div>
</div> -->



