.disable_ripple:hover{
  background: rgba(50, 180, 157, 1) !important;
  }


  /* Icons*/
.mat-expanded .mat-expansion-panel-header-title .material-icons{
    transform: rotate(180deg);
  }


.mat-expansion-panel-header-title .open,
.mat-expanded .mat-expansion-panel-header-title .close{
  display: inline-block;
}
.mat-expanded .mat-expansion-panel-header-title .open,
.mat-expansion-panel-header-title .close{
  display: none;
}

.mat-expansion-panel-header {
  padding:0 0 0 24px;
}

.mat-panel-title {
  justify-content: space-between; /* Align items horizontally */
}

.mat-panel-title .material-icons {
  display: flex; /* Make the icons inline-block elements */
  align-items: center; /* Vertically center the icons */
  margin: 0 5px; /* Add spacing between the icons */
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 1rem;
}