<app-header-image 
  [backgroundImage]="'assets/images/others/blog.png'"
  [bgImageAnimate]="false"
  [contentOffsetToTop]="true"
  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="px-3">
  <div class="theme-container">            
    <div>
      <p style="color: #30dacc;">{{ post.publish_date }}</p>
      <h1 style="color: #12127f; text-align: center;">{{ post.title }}</h1>
    </div>
    <hr>
    <div [innerHTML]="this.renderHTML(post.content)"></div>    
  </div>
</div>

